/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;
    overflow: hidden;
    background-image: url("./assets/loginBG.jpg")
}

h1 {
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 1px;
    z-index: 300;
}

@media (min-width: 800px) {
    .jumbotron {
        width: 50% !important;
        position: relative !important;
        margin: 0 auto;
    }
}